<div class="container">
  <div class="row">
    <div class="col-sm-5 mx-auto">
      <h3 class="bg-primary text-white p-3">{{ getName() }}'s ToDo List</h3>
      <div class="input-group mb-3">
        <input
          [(ngModel)]="message"
          #txtItem
          type="text"
          class="form-control"
          (keyup.enter)="addItem(txtItem.value); txtItem.value = ''"
        />
        <button
          class="btn btn-outline-primary"
          (click)="addItem(txtItem.value); txtItem.value = ''"
        >
          Add
        </button>
      </div>
      {{ message }}
      <div class="form-check mb-3">
        <input
          type="checkbox"
          name="check"
          id="check"
          class="form-check-input"
          [(ngModel)]="displayAll"
        />
        <label class="form-check-label" for="check">Hepsini göster</label>
      </div>
      {{ displayAll }}
      <table class="table table-bordered" *ngIf="getItems().length > 0">
        <thead>
          <tr>
            <th></th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getItems(); let i = index">
            <td>{{ i }}</td>
            <td>{{ item.description }}</td>
            <td>
              <!-- <div *ngIf="item.action">Yes</div>
              <div *ngIf="!item.action">No</div> -->
              <div [ngSwitch]="item.action">
                <div *ngSwitchCase="true">Yes</div>
                <div *ngSwitchCase="false">No</div>
                <div *ngSwitchDefault>no</div>
              </div>
            </td>
            <td>
              <input type="checkbox" [(ngModel)]="item.action" name="" id="" />
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <ul>
        <li *ngFor="let item of items">
          {{ item }}
        </li>
      </ul> -->
      <!-- <div>
        <p *ngFor="let item of items">
          {{ item.description }}
        </p>
      </div> -->
      <div class="alert alert-warning" *ngIf="getItems().length == 0">
        Listede Eleman Yok.
      </div>
    </div>
  </div>
</div>
