<div class="container">
  <div class="row">
    <div class="col-sm-5 mx-auto">
      <h3 class="bg-primary text-white p-3">{{ getName() }}'s ToDo List</h3>
      <div class="input-group mb-3">
        <input type="text" name="input" id="input" class="form-control" />
        <button class="btn btn-outline-primary">Add</button>
      </div>
      <div class="form-check mb-3">
        <input
          type="checkbox"
          name="check"
          id="check"
          class="form-check-input"
        />
        <label class="form-check-label" for="check">Hepsini göster</label>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getItems(); let i = index">
            <td>{{ i }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.action }}</td>
          </tr>
        </tbody>
      </table>
      <!-- <ul>
        <li *ngFor="let item of items">
          {{ item }}
        </li>
      </ul> -->
      <!-- <div>
        <p *ngFor="let item of items">
          {{ item.description }}
        </p>
      </div> -->
    </div>
  </div>
</div>
