<div class="container">
  <div class="row">
    <div class="col-sm-5 mx-auto">
      <h3 class="bg-primary text-white p-3">Ramazan'ın Listesi</h3>
      <div class="input-group mb-3">
        <input type="text" name="input" id="input" class="form-control" />
        <button class="btn btn-outline-primary">Add</button>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Kahvaltı</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Spor</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Alışveriş</td>
            <td>No</td>
          </tr>
        </tbody>
      </table>
      <div class="form-check mb-3">
        <input
          type="checkbox"
          name="check"
          id="check"
          class="form-check-input"
        />
        <label class="form-check-label" for="check">Hepsini göster</label>
      </div>
    </div>
  </div>
</div>
